

main {
  margin: 0 1rem;
}

.hero-main-title {
  max-width: 50rem;
  text-align: end;
  margin-top: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 5rem;
  transform: translateX(5rem);
  visibility: hidden;
  opacity: 0;
  transition: visibility 2s ease-in-out 2s, opacity 2s ease-in-out 2s,
    transform 2s ease-in-out 2s;

  @media (max-width: 700px) {
    font-size: 3rem;
  }
}
h1.is-visible {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

#hero-img-container {
  // outline: 1px solid red;
  margin: 2rem auto;
  margin-bottom: 10rem;
  height: 60vh;
  width: 5rem;
  transition: width 2s cubic-bezier(1, 0.12, 0.26, 0.81) 0.3s,
    transform 2s ease-out 1.3s;
  transform: translateY(-15rem);

  img {
    margin: auto;
    height: 60vh;
    width: 100%;
    max-width: 1800px;
    object-fit: cover;
  }
}

#hero-img-container.is-visible {
  width: 100%;
  transform: translateY(0);
}

.fade-in {
  opacity: 0;
  transform: translateY(-5vh);
  transition: opacity 1s ease-out 2s, transform 1.2s ease-out 2s;
}

.fade-in.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.product {
  display: flex;
  align-items: center;
  margin: 2rem auto;
  max-width: 50rem;
  padding: 1rem;

  transform: translateY(10vh);
  opacity: 0;
  will-change: opacity, transform;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;


  img {
    max-width: 50%;
    aspect-ratio: 1;
    object-fit: cover;
  }

  .product-text {
    margin: 0 2rem;

    h2 {
      font-size: clamp(1rem, 5vw, 3rem);
    }
    p {
      margin-bottom: 0.5rem;
    }
  }

  button {
    background-color: black;
    color: white;
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    outline: 2px solid black;
    transition: all 0.3s ease;
  }

  button:hover,
  button:focus {
    transform: scale(1.2);
    background-color: white;
    color: black;
    cursor: pointer;
  }

  @media (min-width: 1000px) {
    &#product-phone {
      position: relative;
      right: 10vw;
    }

    &#product-tablet {
      position: relative;
      left: 9vw;
    }

    &#product-pc {
      position: relative;
      right: 8vw;
    }

    &#product-smartwatch {
      position: relative;
      left: 4vw;
    }
  }


  &.is-visible {
    opacity: 1;
    transform: translateY(0vh);
  }
}

footer {
  background-color: black;
  color: white;  
  padding: 3rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50%);
  transition: all 1s ease-out;
  
  .main-logo {
    font-size: 2rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  p {
    margin-bottom: 1.5rem;

    a{
      color: white;
    }
  }
}

footer.is-visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.grid-container {
  display: grid;
  gap: 2rem;
  max-width: 1500px;
  margin: 0 auto;


  .grid-element {
    max-width: 100%;
  }

  .sign-btn {
    padding: 0.3rem 1rem;
    font-weight: 700;
    border: none;
    background-color: black;
    color: white;
    outline: 2px solid white;
    margin-bottom: 1rem;
    transition: all 0.2s ease-in-out;
  }

  .sign-btn:hover, .sign-btn:focus {
    cursor: pointer;
    background-color: white;
    color: black;
    transform: scale(1.1);
  }
  
  ul.social-media-links {
    display: flex;
  }

  .grid-line {
    border-bottom: 2px solid white;
  }

  @media (min-width: 700px) {
    grid-template-columns: 1fr auto 1fr;

    .grid-line {
      border-left: 2px solid white;
      border-bottom: none;
    }
  }
}

.fa {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: white;
  text-decoration: none;
  height: 1.9rem;
  width: 1.9rem;
  text-align: center;
  padding: 0.3rem;
  border-radius: 5px;

  &:hover, &:focus {
    color: black;
    background-color: white;
  }
}
